/* ******************* */
figure{
    margin: 0;
}
.icons-cont img{
    width: 100px;
    height: 100px;
    transition: all 1s;
}
.icons-cont a{
    display: block;
    text-align: center;
}

.icons-cont li img:hover,
.icons-cont li img:focus-within{
    filter: saturate(2.2);
    scale: 1.1;            
}
.icons-cont li{
    flex-basis: 33.3333%;
}
.icons-cont{
    height: 120px;
}
.mitglied{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 310px;
}
.mitglied img{
    height: 250px;
    width: 250px;
    transition: all 1s;
}
.mitglied img:hover,
.mitglied img:focus-within{
    filter: saturate(2.2);
    scale: 1.1;         
}
.mitglied a{
  display: inline-block;
}

@media screen and (max-width: 650px) {
    .header{
        flex-direction: column;
    }
    nav{
        flex-basis: 100%;
        align-self: flex-start;
    }
    .divs-cont{
        flex-direction: column;
    }
    .div1,.div2{
         --col:100%;
        width: var(--col)
    }
}




